build/
dist/
cert/
cert.pem
key.pem
WebEncryptor.zip
passwords.json
server.log
node_modules/
.npm-cache/
package-lock.json
.gocache/
.gopath/
.testrun/
rust/recognition/target/
.rust-sysroot/
.rustup/
.cargo/
rust-std-wasm32.tar.xz
rustup.sh
rustup-init
.we-server
rustc-shim
